<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>

  <body>
    <h1>Hey, <%= @user.username %>!</h1>
    <p>
      You did a lot today.  We made auth from scratch,
      sat in a hot lecture room, and managed to still
      have a ton of homework left.
    </p>

    <p>Congratulation</p>


    <p>Check out this link on bootcamps: <%= @url %></p>

    <p>See you bright and early...</p>
  </body>
</html>
