/* Reset */
body,h1,h2,h4,ul,ol,li,a,figure,figcaption,header,img {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: antiquewhite;
}

h1 {
  font-size: 38px;
  margin-bottom: 10px;
}

h2 {
  font-size: 32px;
}

ul li a, figcaption a {
  text-decoration: none;
  color: inherit;
}

header > img {
  float: left;
  width: 100px;
}

section figure > img {
  width: 100%;
}

.ingredients-list {
  list-style: square inside;
}

ol {
  list-style: upper-roman inside;
}

.user_review h4 {
  font-size: 18px;
  font-weight: bold;
}
.user_review {
  margin: 10px;
  padding: 20px;
  font-family: Monospace;
  font-size: 12px;
  background-color: aliceblue;
  border: 1px dashed darkgrey;
  font-weight: bold;
}

input[type="radio"] {
  -webkit-appearance: none;
  width: 27px;
  height: 27px;
  background-image: url(stars.png);
  vertical-align: bottom;
}

input[type="radio"]:checked {
  background-position: 30px 30px;
}


input[type="submit"]:last-child {
  background: gold;
}

input:last-child:hover {
  -webkit-filter: brightness(90%);
}

ol li:nth-of-type(2n) {
  background-color: whitesmoke;
  margin: 10px 0;
}

h2 + .user_review {
  border-top: 1px solid black;
}

nav {
  float: right;
}

nav ul li {
  display:  inline-block;
}

nav ul li a {
  padding: 20px;
  display: block;
}

body {
  margin: 0 auto; /* Common Centering Technique */
  width: 60%;
}

.ingredients-list li {
  margin: 15px 0px;
}

#main li  {
  margin: 15px 0px;
}

input[type="text"], select {
  display: block;
  width: 175px;
}

select {
  margin: 10px 0;
  width: 180px;
}

textarea {
  display: block;
  width: 350px;
}

label {
  display: block;
  padding: 10px;
}
