body {
  font-family: Arial, sans-serif;
  background-color: antiquewhite;
}

h1 {
  font-size: 38px;
}

h2  {
  font-size: 32px;
}

.ingredients-list {
  list-style: square inside;
}

header > img {
  width: 100px;
}

figure > img {
  width: 500px;
  height: 500px;
}

ul li a {
  text-decoration: none;
  color: inherit;
}

ol {
  list-style: upper-roman inside;
}

.user_review {
  padding: 20px;
  font-family: Monospace;
  font-size: 12px;
  background-color: aliceblue;
  border: 1px dashed darkgrey;
  font-weight: bold;
}
