html, body, figure, figcaption, ul, li, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
}
body {
  width: 100%;
}
h1 {
  margin: 0 auto;
  width: 100%;
}

ul {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border: 5px solid black;
  list-style: none;
}

li {
  float: left;
  width: 90px;
  height: 90px;
  border: 5px solid black;
  background: gray;
  cursor: pointer;
}

li:hover {
  background: yellow;
}

.x, .o {
  background: white;
}

.x:after {
  content: 'X';
  color: red;
  margin-left: 15px;
  font-size: 80px;
}

.o:after {
  content: 'O';
  margin-left: 15px;
  color: darkblue;
  font-size: 80px;
}
