
<button type="button" name="follow" class='follow-toggle' data-user-id='<%= user.id %>' data-initial-follow-state='<%= current_user.follows?(user) %>'></button>
 <!-- {"authenticity_token"=>"G/ry1RrH6G0Nf7/o723m48iGaqpVzOzEkxvGOW8H0Qg=", "user_id"=>"4"} -->
